<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!-- Enable verbose error messages -->
        <param-value>Development</param-value>
        <!-- Other values: Production, SystemTest, UnitTest -->
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsf</welcome-file>
    </welcome-file-list>
    <data-source>
        <name>java:global/jdbc/libros</name> <!-- JNDI resource -->
        <class-name>org.h2.jdbcx.JdbcDataSource</class-name> <!-- Driver -->
        <url>jdbc:h2:~/h2db/dawlibros;AUTO_SERVER=TRUE</url> <!--DB in user folder -->
        <user>dawuser</user>
        <password>dawuser</password>
        <initial-pool-size>2</initial-pool-size>
        <max-pool-size>10</max-pool-size>
        <min-pool-size>5</min-pool-size>
    </data-source>

</web-app>
